In [3]:
# import Dependencies
import os 
import pandas as pd 
import numpy as np

In [5]:
# Create a reference to the CSV and import it into a Pandas DataFrame

csv_path = "../ELT_CSVs/commute_times_us_zipcode_2011.csv"
raw_transit_df = pd.read_csv(csv_path)
raw_transit_df.head()

,census_GEO_id,zip_code,census_display_label,commute_time_mins_est,margin_of_error
0,8600000US00601,601,ZCTA5 00601,28.7,3.1
1,8600000US00602,602,ZCTA5 00602,20.9,1.4
2,8600000US00603,603,ZCTA5 00603,20.3,1.4
3,8600000US00606,606,ZCTA5 00606,34.9,11.5
4,8600000US00610,610,ZCTA5 00610,26.4,1.5

In [11]:
# Select Only the Columns We Need
basic_clean_df = raw_transit_df.loc[:, 
                        ["zip_code", 
                         "commute_time_mins_est"]]

basic_clean_df.head()

   zip_code  commute_time_mins_est
0       601                   28.7
1       602                   20.9
2       603                   20.3
3       606                   34.9
4       610                   26.4

In [15]:
# Rename the Columns
renamed_df = basic_clean_df.rename(index=str, 
                    columns={"zip_code": "Zipcode", 
                "commute_time_mins_est": "Estimated Commute Time in Minutes"})

renamed_df.head()

   Zipcode  Estimated Commute Time in Minutes
0      601                               28.7
1      602                               20.9
2      603                               20.3
3      606                               34.9
4      610                               26.4

In [17]:
# Write Semi-Cleaned Dataframe to a New CSV File

renamed_df.to_csv('Cleaned_Commute_Times.csv', encoding='utf-8', index=False)